#form {
    background-color: #8c8c8c;
    width: 200px;
    padding: 30px;
    height: 200px;
}
#close {
    float: right;
    margin-bottom: 10px;
    background-color: #CC0000;
    cursor: pointer;
    border-color: #990000;
    border-radius: 5px;
}
#send {
    margin-top: 30px;
    float: right;
    cursor: pointer;
}
input {
    width: 196px;
    margin-bottom: 10px;
}

