body {
    font-family: Tahoma;
    background-image: url(../images/tileable_wood_texture.png);

}
#basket {
    background-color: rgba(255,237,129, 0.5);

    border-bottom: 3px dotted #ff9999;

    padding: 10px;
}
/*#basket h2 {*/
    /*text-align: left;*/
    /*margin: 0;*/
/*}*/
.tab {
    margin-left: 400px;
    display: none;
}
.tab th, td {
    width: 150px;
    text-align: center;
}
.tovar {
    width: 900px;
    height: 210px;
    background-color: #e3e3e3;
    border-bottom: 1px dotted #9c9c9c;
    margin-left: 200px;
    padding: 10px;
}

.images {
    width: 180px;
    height: 180px;
    float: left;
    margin: 10px;
    border-radius: 5px;
}
.description {
margin: 10px;
    width: 80%;
    font-size: 0.9em;
}
.price {
    color: red;
    font-weight: bold;
    float: right;
    font-size: 2em;
}
.add {
    float: right;
    background-color: #ff9dc3;
    height: 30px;
font-weight: bold;
    border: 1px solid #ff7eb9;
    box-shadow: inset 0 0 2px 1px white;
    cursor: pointer;
}
.num {
    width: 50px;
}
.sum {
    font-size: 1.25em;
    color: #ff511d;
    font-weight: bold;

}
.icon {
    width: 50px;
    height: 50px;
    opacity: 0.5;
    float: left;
    display: block;
    margin: 0 10px;
}
#basket h2 {

    margin: 8px;

}