body {
    font-family: Tahoma;
}
#basket {
    background-color: #ffcccc;
    text-align: center;
    border-bottom: 3px dotted #ff9999;
    margin: 0;
    padding: 10px;
}
.tovar {
    width: 900px;
    height: 210px;
    background-color: #e3e3e3;
    border: 1px solid #9c9c9c;
    margin-left: 200px;
    padding: 10px;
    }

.images {
    width: 180px;
    height: 180px;
    float: left;
    margin: 10px;
}
.description {
margin: 10px;
    width: 80%;
    font-size: 0.9em;
}
.price {
    color: red;
    font-weight: bold;
    float: right;
    font-size: 2em;
}
.button {
    float: right;
    background-color: #ff9dc3;
    height: 30px;
font-weight: bold;
    border: 1px solid #ff7eb9;
    box-shadow: inset 0 0 2px 1px white;
    cursor: pointer;
}
.num {
    width: 50px;
}